<div class="card" data-cid="{{cid}}">
    <div>
        <a href="/products">Volver a Productos</a>
    </div>
    <div class="img-card-container">
        <img src="{{product.thumbnails}}" width="200" alt="{{product.title}}">
    </div>
    <ul>
        <li>
            <h2>{{product.title}}</h2>
        </li>
        <li>
            <h4><b>Precio: </b>${{product.price}}</h4>
        </li>
        <li><b>Descripción:</b> {{product.description}}</li>
        <li><b>Código:</b> {{product.code}}</li>
        <li><b>Status:</b> {{product.status}}</li>
        <li><b>Stock:</b> {{product.stock}}</li>
        <li><b>Categoría:</b> {{product.category}}</li>
        {{!-- <li><b>ID:</b> {{product._id}}</li> --}}
    </ul>
    {{#if isNotAdmin}}
    <button onclick="addToCart('{{product._id}}')">Agregar al Carrito</button>
    {{else}}
    <button>Editar producto</button>
    <p style="font-size: x-small;">Editar producto no esta desarrollado en vistas</p>
    {{/if}}
</div>


<script src="/js/addToCart.js"></script>

