<main class="userProfile-main">
  <div class="userProfile-container">
<section class="userProfile-info">
  <h1>Tu perfil</h1>
  <p>Nombre: <span>{{user.name}}</span> </p>
  <p>Email: <span>{{user.email}}</span> </p>
  <p>Edad: <span>{{user.age}}</span> </p>
  <p>Rol: <span>{{user.role}}</span> </p>
</section>
</div>



{{!-- DEPENDIENDO DEL ROL, PUEDE VER UNOS U OTROS BOTONES --}}

<section class="userProfile-menu">

{{#if isUser}}
<div>
  <a href="/products">Productos</a>
</div>
<span>|</span>
<div>
    <a href="/carts/{{user.cart}}">Mi Carrito</a>
</div>
<span>|</span>
<div>
  <a href="/chat" target="_blank">Ir al Chat</a>
</div>
{{/if}}

{{#if isPremium}}
<div>
  <a href="/products">Productos</a>
</div>
<span>|</span>
<div>
    <a href="/carts/{{user.cart}}">Mi Carrito</a>
</div>
<span>|</span>
<div>
  <a href="/chat">Ir al Chat</a>
</div>
{{/if}}


{{#if isAdmin}}
<div>
  <a href="/products">Productos</a>
</div>
<span>|</span>
<div>
  <a class="no-developed-button" href="#">Editar Productos</a>
</div>
<span>|</span>
<div>
  <a class="no-developed-button" href="#">Editar Usuarios</a>
</div>
{{/if}}

<span>|</span>
<div>
    <a href="/user/logout">Logout</a>
</div>

</section>

</main>